@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 78% 85%;              /* #B4F8C8 */
    --foreground: 240 100% 5%;

    --card: 0 0% 100%;
    --card-foreground: 240 100% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 100% 5%;

    --primary: 312 90% 65%;                 /* #F15BB5 */
    --primary-foreground: 0 0% 100%;

    --secondary: 263 90% 70%;               /* #9B5DE5 */
    --secondary-foreground: 0 0% 0%;

    --muted: 48 100% 75%;                   /* #FEE440 */
    --muted-foreground: 240 20% 30%;

    --accent: 200 100% 65%;                 /* #00BBF9 */
    --accent-foreground: 240 100% 5%;

    --destructive: 0 80% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 312 90% 65%;

    --radius: 1rem;

    html, body, #__next, #root {
      @apply min-h-screen;
      background-color: hsl(var(--background));
      background-image: radial-gradient(#aaa 1px, transparent 1px);
      background-size: 25px 25px;
      background-repeat: repeat;
      background-attachment: fixed;
    }
  }

  

  body {
    margin: 0;
    padding: 0;
  }

  .dark {
    --background: 240 5% 10%;
    --foreground: 0 0% 100%;

    --card: 240 5% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 312 90% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 263 90% 70%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 10% 25%;
    --muted-foreground: 240 10% 75%;

    --accent: 200 100% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 60% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 312 90% 65%;
  }
}
